/** Bootstrap Theme Overrides **/
:root,
[data-bs-theme="light"] {
    --bs-primary: #038aff;
    --bs-primary-rgb: 3, 138, 255;
    --bs-body-font-family: "Inter", sans-serif;
}
/** Global Styles **/


/** Layout: Header, Hero, and Sections **/


/** Components & Utilities **/